{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2>Conference</h2>
    <ul>
      <li>
          <b>Towards Legal Judgment Summarization: A Structure-Enhanced Approach</b><br>
          <b>Qiqi Wang</b>, Ruofan Wang, Kaiqi Zhao, Robert Amor, Benjamin Liu, Xianda Zheng, Zeyu Zhang, Zijian Huang.<br>
          The 26th European Conference on Artificial Intelligence (ECAI' 2023)
      </li>
      <li>
          <b>D2GCLF: Document-to-Graph Classifier for Legal Document Classification</b>
          <a href="{{ "https://aclanthology.org/2022.findings-naacl.170.pdf" }}"><u>[pdf]</u></a>
          <b>Qiqi Wang</b>, Kaiqi Zhao, Robert Amor, Benjamin Liu, Ruofan Wang.<br>
          2022 Annual Conference of the North American Chapter of the Association for Computational Linguistics (NAACL' 2022)
      </li>
        <li>
          <b>DRVC: A Framework of Any-to-Any Voice Conversion with Self-Supervised Learning</b>
          <a href="{{ "https://www.semanticscholar.org/reader/dd68369fd762a228c6771c613b0d03c314800651" }}"><u>[pdf]</u></a>
          <b>Qiqi Wang</b>, Xulong Zhang, Jianzong Wang, Ning Cheng, Jing Xiao.<br>
          2022 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP' 2022)
      </li>
     </ul>
  </article>
</div>