{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2>Conference</h2>
    <ul>
      <li>
          <b>ZipLJP: Zipped Information Processor for Legal Judgment Prediction</b><br>
          Fanghao Lou*, <b>Qiqi Wang*^</b>, Guanyu Chen, Kaiqi Zhao, Huijia Li.<br>
          The 40th Annual AAAI Conference on Artificial Intelligence (AAAI' 2026)
      </li>
      <li>
          <b>HUSK: A Hierarchically Structured Urban Knowledge Graph Dataset for Multi-Level Spatial Tasks</b>
          <a href="{{ "https://dl.acm.org/doi/pdf/10.1145/3746252.3761638" }}"><u>[pdf]</u></a><br>
          <b>Qiqi Wang*</b>, Guanjin Wang*, Yihong Pan, Zhipeng Lin, Huijia Li, Qian Liu, Kaiqi Zhao.<br>
          The 34th ACM International Conference on Information and Knowledge Management (CIKM' 2025)
      </li>
      <li>
          <b>RECAST: Route-Enhanced Conditional Anomalous Sub-trajectory Detection</b>
          <a href="{{ "https://dl.acm.org/doi/10.1145/3748636.3762745" }}"><u>[pdf]</u></a><br>
          Ziyi Jiang, <b>Qiqi Wang</b>, Xuyang Sun, Gillian Dobbie, Xiaoling Lu, Yalei Du, Yuanyuan Zhang, Kaiqi Zhao.<br>
          The 33rd ACM SIGSPATIAL International Conference on Advances in Geographic Information Systems (SIGSPATIAL' 2025)
      </li>
      <li>
          <b>SKGSum: Structured Knowledge-Guided Document Summarization</b>
          <a href="{{ "https://aclanthology.org/2024.findings-acl.110/" }}"><u>[pdf]</u></a><br>
          <b>Qiqi Wang</b>, Ruofan Wang, Kaiqi Zhao, Robert Amor, Benjamin Liu, Jiamou Liu, Xianda Zheng, Zeyu Zhang, Zijian Huang.<br>
          Findings of the Association for Computational Linguistics: ACL 2024
      </li>
      <li>
          <b>Towards Legal Judgment Summarization: A Structure-Enhanced Approach</b>
          <a href="{{ "https://ebooks.iospress.nl/doi/10.3233/FAIA230553" }}"><u>[pdf]</u></a><br>
          <b>Qiqi Wang</b>, Ruofan Wang, Kaiqi Zhao, Robert Amor, Benjamin Liu, Xianda Zheng, Zeyu Zhang, Zijian Huang.<br>
          The 26th European Conference on Artificial Intelligence (ECAI' 2023)
      </li>
      <li>
          <b>D2GCLF: Document-to-Graph Classifier for Legal Document Classification</b>
          <a href="{{ "https://aclanthology.org/2022.findings-naacl.170.pdf" }}"><u>[pdf]</u></a><br>
          <b>Qiqi Wang</b>, Kaiqi Zhao, Robert Amor, Benjamin Liu, Ruofan Wang.<br>
          Findings of the Association for Computational Linguistics: NAACL 2022
      </li>
        <li>
          <b>DRVC: A Framework of Any-to-Any Voice Conversion with Self-Supervised Learning</b>
          <a href="{{ "https://www.semanticscholar.org/reader/dd68369fd762a228c6771c613b0d03c314800651" }}"><u>[pdf]</u></a><br>
          <b>Qiqi Wang</b>, Xulong Zhang, Jianzong Wang, Ning Cheng, Jing Xiao.<br>
          2022 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP' 2022)
      </li>
    </ul>
    
    <h2>Journal</h2>
    <ul>
      <li>
          <b>Legal knowledge infusion for large language models: A survey</b>
          <a href="{{ "https://dl.acm.org/doi/pdf/10.1145/3746252.3761638" }}"><u>[pdf]</u></a><br>
          Qian Liu, Hang Yu, <b>Qiqi Wang</b>, Qi Xu, Jinpeng Li, Zhuoqun Zou, Rui Mao, Erik Cambria.<br>
          Information Fusion
      </li>
      <li>
          <b>Interpretable graph clustering on massive attribute networks via multi-agent dynamic game</b>
          <a href="{{ "https://www.sciencedirect.com/science/article/pii/S0960077925006678" }}"><u>[pdf]</u></a><br>
          Huijia Li, Fanghao Lou, <b>Qiqi Wang^</b>, Guijun Li.<br>
          Chaos, Solitons & Fractals
      </li>
     </ul>
  </article>
</div>
