{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2>Teaching Assistant</h2>
    <ul>
      <li>
          <b>PHYSIC 140: Digital Fundamentals</b><br>
          Feb 2023 - Now<br>
          The University of Auckland
      </li>
      <li>
          <b>COMPSCI220: Algorithms and Data Structures</b><br>
          July 2023 - Now<br>
          The University of Auckland
      </li>
        <li>
          <b>ELECTENG310: Electrical Engineering Design 1</b><br>
          Feb 2023 - June 2023<br>
          The University of Auckland
      </li>
     </ul>
  </article>
</div>