{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <h2>Teaching Assistant</h2>
    <ul>
      
      <li>
          <b>COMPSCI220: Algorithms and Data Structures</b><be>
          Semester 1 and 2, 2024; Semester 2, 2023<br>
          The University of Auckland
      </li>
      <li>
          <b>COMPSCI753: Algorithms for Massive Data</b><be>
          Semester 2, 2024<br>
          The University of Auckland
      </li>
      <li>
          <b>COMPSCI769: Natural Language Processing</b><be>
          Semester 2, 2024<br>
          The University of Auckland
      </li>
        <li>
          <b>COMPSCI762: Foundations of Machine Learning</b><br>
          Semester 1, 2024<br>
          The University of Auckland
      </li>
      <li>
          <b>PHYSIC 140: Digital Fundamentals</b><br>
          Semester 1 and 2, 2024; Semester 1 and 2, 2023<br>
          The University of Auckland
      </li>
        <li>
          <b>ELECTENG310: Electrical Engineering Design 1</b><br>
          Semester 1, 2023<br>
          The University of Auckland
      </li>
     </ul>
  </article>
</div>
