# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\私人\Web\77-qiqi-wang.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
